/*  Main  */

    html {
        font-family: 'Open Sans', sans-serif;
        overflow: hidden;
        #background: rgb(240,240,240);
    }

    body {
        margin: 0px;
        margin-top: 18px;
        #height: 100%;
    }

    #name {
        margin: 0px;
        margin-left: 40px;
        width: auto;
        text-decoration: underline;
        font-size: 16px;
        cursor: pointer;
    }

    #header {
        position: absolute;
        margin: 0px;
        margin-right: 10px;
        top: 17px;
        right: 335px;
        #left: -100px;
        width: 300px;
        text-align: right;
        font-size: 16px;
        display: none;
    }

    img {
        background: rgb(240,240,240);
    }

    #drag_info {
        position: absolute;
        #top: 0px;
        #left: 50%;
        #transform: translate(-50%, 0%);
        top: 0px;
        right: 223px;
        
        margin: 0px;
        display: none;
        opacity: 0;
        width: 150px;
        height: 45px;
        border-style: none dashed dashed dashed;
        border-color: red;
        border-width: 1px;
    }

    #drag_info p {
        font-size: 14px;
        color: rgb(50, 50, 50);
        #color: blue;
        margin: 0px;
        /*18px to align to the name*/
        #margin-top: 18px;
        margin-top: 0px;
        text-align: center;
    }

    p {
        color: black;
    }

    a p {
        color: black;
    }

    a {
        text-decoration: none;
        cursor: pointer;
        color: black;
    }

    a:hover {
        color: black;
        text-decoration: underline;
    }

    #test_info {
        position: absolute;
        bottom: 100px;
    }

    #resume {
        color: black;
    }

    #resume:hover {
        cursor: pointer;
    }

    #todo {
        opacity: 0.3;
        position: fixed;
        left: 40px;
        bottom: 40px;
        font-size: 12px;
    }
    
    #todo p:first-child {
        margin-bottom: 10px;
    }

    .debug {
        display: none;
    }

    #todo p {
        margin: 0px;
    }

    #todo:hover {
        opacity: .8;
    }

/*  Buttons  */

    .btn {
        font-family: 'Open Sans', sans-serif;
        position: absolute;
        z-index: 999;
        font-size: 16px;
        #color: blue;
        
        /* remove the buttony stuff */
        background:none;
        border:none;
        margin:0;
        padding:0;
    }

    .btn:focus {
        outline: 0;
    }

    .btn:hover {
        color: black;
        text-decoration: underline;
    }

    .dropdown {
        position: absolute;
        display: none;
        z-index: 998;
        
        
/*
        padding: 10px;
        padding-top: 0px;
*/
    }

    .dropdown p {
        margin: 0px;
        font-size: 14px;
        #color: blue;
        text-decoration: underline;
    }

    .subdir {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .subdir p {
        text-decoration: none;
        #color: black;
        position: relative;
        left: 10px;
        font-size: 12px;
    }

    .footnote {
        padding-top: 10px;
        padding-left: 6px;
    }

    .arrow {
        font-family: 'WingDings 3';
        font-size: 12px;
    }

/*  Illustration */

    #illustration_overlay {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
        display: inline-block;
        white-space: nowrap;
        display: none;
        width: 100%;
    }

/*
    #illustration_overlay:drag {
        cursor: default;
    }
*/

    /*#illustration_overlay .subdir {
        position: relative;
        width: 300px;
        float: right;
    }*/

    #illustration_overlay .subdir {
        position: fixed;
        width: 300px;
    }

    #art_info {
        right: 40px;
        #bottom: -120px;
        top: 510px;
    }

    #art_drag_info {
        right: 340px;
        bottom: -40px;
    }

    #illustration_overlay p {
        margin-bottom: 3px;
        margin-top: 3px;
        #text-align: right;
        text-align: left;
        left: 0px;
    }

    /*div.fixed*/
    .navigation_images {
        position: fixed;
        left: 40px;
        top: -40px;
    }

    .navigation_images img {
        height: 30px;
    }

    /*div.inflow*/
    .feature_images {
        position: relative;
        left: 40px; /*use to shift images -- initialized by javascript as well*/
        height: 505px;
    }

    .feature_images img {
        height: 500px;
        width: auto;
        display: none;
        #cursor: pointer;
    }

    .feature_images p {
        margin: 0px;
        margin-left: 20px;
        position: relative;
        top: -50%;
        transform: translate(0%, 50%);
        font-size: 14px;
    }

    .feature_images p:hover {
        text-decoration: underline;
    }


    #current_image_set {
        #padding: 1px;
        border-style: solid;
        border-color: blue;
        border-width: 1px;
    }

/*  Graphic Design  */
    #gd_overlay {
        margin-top: 35px;
        margin-left: 40px;
        display: none;
        position: relative;
        top: 0px;
    }

    #feature_projects {
        position: fixed;
        height: 100%;
    }

    .gd_projects {
        #width: 100%;
        width: 500px;
        display: inline-block;
        font-size: 12px;
        margin-right: 50px;
        vertical-align: top;
    }

    .gd_projects h1 {
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 10px;
    }

    .gd_projects img {
        background-color: lightgray;
        padding: 0px;
        margin-bottom: 10px;
        vertical-align: top;
        
        display: inline-block;
    }

    .l1 {
        width: 100%;
        #height: auto;
        height: 300px;
    }

    .l2_1 {
        width: 49.5%;
        #height: auto;
        height: 200px;
        margin-right: 1%;
    }

    .l2_2 {
        width: 49.5%;
        #height: auto;
        height: 200px;
    }

    .l3_1 {
        width: 32.66%;
        #height: auto;
        height: 100px;
        margin-right: 1%;
    }

    .l3_2 {
        width: 32.66%;
        #height: auto;
        height: 100px;
    }

    .image_set {
        #display: inline-block;
        margin-bottom: 30px;
        font-size: 0px;
    }
